{% extends 'base.html' %}
{% block content %}

<div>
    <div style="display: flex; justify-content: center;"><h1>{{ date }} 的花費</div>
<body style="display: flex; justify-content: center;">
    <center>
       <input type="button" class='button' value="新增一筆帳" onclick="location.href='/add_billing/'" >
       <input type="button" class='button' value="登出" onclick="location.href='/user/logout/'" >
    </center>
    <br>
    <table>
        <tr>
            <th>項目</th>
            <th>花費</th>
            <th>時間</th>
            <th>刪除</th>
            </tr>
    <form action="/del/" method="POST"> {% csrf_token %}
    {% for billing_info in billing_list %}
        <tr>
            <td> {{ billing_info.content }} </td>
            <td> {{ billing_info.amount }}</td>
            <td> {{ billing_info.event_time }}</td>
            <td>
                <input type="checkbox" value=" {{ billing_info.id }}" name="check_box_list"/>
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <center>
        <input type="submit" class="button" value="確認刪除">
    </center>
    </form>
    <br>
    <center>
        <input type="submit" class="button" value="回上一頁" onclick="location.href='/test_show_all/'">
    </center>
    </body>
</html>
<div>

{% endblock %}