{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TEST</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/billing_page.css' %}">

    <!-- Bootstrap core JavaScript -->
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".date_submit_button").click(function(){
            if ($("#p1").css("display")=="none") {
                $("#p1").show(300);
            } else {
                $("#p1").toggle(300);
            }
        });
    });
    </script>
    <script>
        $(function(){
          $( "#datepicker" ).datepicker();
        } );
    </script>
</head>

<div>
    <div style="display: flex; justify-content: center;"><h1>所有花費</div>
<body style="display: flex; justify-content: center;">
    <center>
       <input type="button" class='button' value="新增一筆帳" onclick="location.href='/add_billing/'" >
       <button type="button" class='date_submit_button'" >查詢記錄</button>
       <input type="button" class='button' value="登出" onclick="location.href='/user/logout/'" >
    </center>
    <br>
    <center>
        <form action="{% url 'test_show_all' %}" method="GET"> {% csrf_token %}
        <div style="display:none" id="p1">請輸入日期：</p><p>Date: <input type="text" id="datepicker" name="one_date"><input type="submit" value="查詢"></p>
        </form></div>
    </center>
    <table>
        <tr>
            <th>項目</th>
            <th>花費</th>
            <th>時間</th>
            <th>刪除</th>
            </tr>
    <form action="{% url 'test_show_all' %}" method="POST"> {% csrf_token %}
    {% for billing_info in billing_list %}
        <tr>
            <td> {{ billing_info.content }} </td>
            <td> {{ billing_info.amount }}</td>
            <td> {{ billing_info.event_time }}</td>
            <td>
                <input type="checkbox" value=" {{ billing_info.id }}" name="check_box_list"/>
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>
        <center>
            <input type="submit" class="button" value="確認刪除">
        </center>
    </form>
    </body>
</html>
<div>